@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #d9d9d9;
    --bg: #ffffffdc;
    --bg-card:#00324A;
    --border: 0.1rem solid rgb(56, 55, 55);
    --font1: #41494c;
    --hover:#288e96;
    --btn:#36878e;
    --color2: #13131a;
   

}


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    text-transform: capitalize;
    /**/
    transition: 0.2s linear;
    /**/
    outline: none;
    /*faz com que o site não as sombras de borda ao redor do botão*/
    border: none;
    /*retirando todas as bordas*/
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /*Configuração do Font-Size para 62.5%, facilitando o uso do REM (1rem = 10px)*/
    
    
}

.content{
    max-width: 60rem;
    position: relative;
    z-index: 5;
}


header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%; /*Uso da porcentagem*/
    border-bottom: var(--border);
    position: sticky; /*deixa o header suspenso*/
    top: 0;
    left: 0;
    z-index: 999;
}

.item-menu-header { /* Nossas li que estão dentro do LIST MENU, onde se encontram os nomes dos itens apresentados no HEADER */
    margin-right: 25px; /* margem da direita */
}

.nav-links li > a:hover { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO, e o Hover responsável pela modificação de cor ao passar o cursor em cima.*/
    color: var(--hover); /* Aqui atribuimos uma cor */
    transition: 1s; /* E o tempo em que será exibido ao passar o cursor */
}

.item-menu-header > a { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO */
    color: white; /* Cor das letras */
    text-decoration: none; /* Responsável por tirar o sublinhado inferior que estava visível */
    font-size: 0.8em; /* Tamanho da letra */
} 


.navbar {
    color: white; /*Cor da letra*/
    display: flex; /*Flexíveis*/
    justify-content: space-between; /*A distribuição dos itens sejam com Space-between*/
    align-items: center; /*Alinhamento da vertical*/
    padding: 1rem 1.5rem; /*Preenchimento superior/inferior e esquerda/direita*/
    height: 2.6rem; /*Altura do NavBar*/
}

.nav-links { /*Aqui estamos estilizando a UL (lista não ordenada)*/
    list-style: none; /*Retirando o estilo de lista*/ 
    display: flex; /*Tornando a caixa flexível, e lado a lado*/
    margin: 0; /*Zerando os espaços de margem que são habilitados por padrão*/
    padding: 0; /*Zerando os preenchimentos que são habilitados por padrão*/
    gap: 3rem;
}

.nav-links li { /*Estilizando nossa LI que está dentro da UL*/
    padding: 0 8px; /*Preenchimento da LI superior/inferior 0 e laterais em 9px*/
}

.nav-links a,
.nav-links-mobile a { /*Estamos chamando as duas âncoras para estilização, tanto da Versão Desktop quanto da versão Mobile.*/
    color: var(--font1); /*A cor da letra*/
    text-decoration: none; /*E sem sublinhado*/
    font-size: 3rem;        
}

.mobile-menu { /*Estilização da caixa Mobile quando aberta*/
    display: none; /*Display: Nenhum*/
    position: fixed; /*Posição fixa na parte direita da página*/
    top: 0; /*Superior em 0 fazendo a caixa encostar ao topo*/
    right: 0; /*Direita em 0 fazendo a caixa encostar a direita*/
    width: 60%; /*Largura em porcentagem da caixa*/
    height: 40%; /*Altura de 100% da tela*/
    background-color: var(--bg); /*Cor de fundo*/
    flex-direction: column; /*direção dos itens dentro da caixa */
    align-items: center; /*Alinhamento na vertical do itens*/
    font-size: 1.8rem; /*tamanho da letra dentro da caixa*/
}

.nav-links-mobile { /*Lista não ordenada da versão mobile*/
    display: flex; /*Tornando os itens (LISTAS) flexíveis*/
    flex-direction: column; /*Estamos direcionando o posicionamento dessas listas*/
    text-align: end; /*Alinhando o texto ao centro*/
    gap: 1.2rem; /*Espaço entre as listas */
    /* width: 0%; Zeramos a largura podendo retirar essa linha para testar visualizão */
    list-style: none; /*Estilo de lista desabilitado*/
    /* padding: 0; Preenchimento zerado, podendo também ser retirado para testes */
}

.nav-links-mobile li { /*listas da versão Mobile*/
    border-bottom: 1px solid #787272; /*Bordar inferior de cada lista*/
    padding-bottom: 1.2rem; /*Tamanho da borda*/
}

.nav-links-mobile li a:hover {
    cursor: pointer;
    color: var(--hover);
}

.hamburger,
.close { /*Estilizando os botões de abertura e fechamento*/
    font-size: 3rem; /*Tamanho do elemento*/
    background: none; /*Removido o Background*/
    border: none; /*BORDA NENHUMAAAAAAA*/
    color: var(--font1); /*cor do elemento*/
    cursor: pointer; /*Cursor Habilitado*/
    display: none; /*Escondendo os botões*/
    margin-left: 10rem;
}

.close {
    margin-top: 20px;/*Espaçamento superior do X */
    margin-right: 20px; /*Espaçamento a direita do X*/
    display: block; /*Formatação da Imagem em bloco*/
    align-self: end; /*Alinhamento do botão*/
}


.flex { /*ELEMENTO USADO NO JS*/
    display: flex; /*Tornando item flexível e visível.*/
}

.menu-toggle {
  display: none;
  font-size: 3rem;
  color: var(--font1);
  cursor: pointer;
}

.logo img{
    height: 10rem;/*define altura do logo*/

}

.submenu {
  position: relative;

}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--main-color);
  display: none;
  flex-direction: column;
  min-width: 15rem;
}

.submenu:hover .dropdown {
  display: flex;
}

.dropdown li a {
  padding: 1rem;
  color: var(--font1);
  text-align: left;
  font-size: 1.5rem;
  
}
  




.swiper{
    height: 50rem; /*altura da sessão*/
    position: relative; /*posição relativa em relação a viewport (tela)*/
}

/*estilização das caixas (div) que guardam as imagens*/

.swiper-slide{ /*aqui estamos chamando uma das classes*/
    background-size: cover;
    background-position: center;
}

.carousel-text{
    position: absolute; /*posiciona o elemento de forma absoluta dentro do container pai com position: relative*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*Centraliza o elemento exatamente no meio container (corrigi o deslocamento*/
    text-align: center;
    z-index: 10;
    color: #fff;
}

.carousel-text h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.caixa-01 {
    background-image: url(img/1000080615.png);
}

.caixa-02 {
    background-image: url(img/1000080616.png);
}

/*fim da section-01*/

/*section-02*/

.heading{
    text-align: center;
    color: var(--bg-card);
    font-size: 3.8rem;
    padding: 1.5rem;

}

.mob-bike-2{
    min-height: 85vh;
}

.row{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   border: var(--border);
   background: var(--bg);
   background-position: relative;
   min-height: 65vh;
   padding: 1.0rem;
   
    
}

.row .img-section02{
    flex: 1 1 45rem;
    /*Define o tamanho flexível do elemento: 45rem, podendo crescerou encolher, ou seja,
    faz com que possa ser adptavel para telas grandes e pequenas */
}

.row .img-section02 img {
    width: 100%;
}
content
.row .content{
    flex: 1 1 45rem;
    /*Defini o tamanho flexível do conteúdo: base 45rem, poderá crescer ou diminuir*/
    padding: 1.2rem;
    /*adiciona espaçamento interno ao redor do conteúdo  */
}

.row .content h3{
    font-size: 3rem;
    color: var(--font1);
    padding: 1.2rem;
}

.row .content p{
    font-size: 1.6rem;
    /*Defini o tamanho da fonte para o paragrafo*/
    color: var(--font1);
    padding: 1rem 0;
    /*adiciona espaçamento interno vertical ao texto e as letras zeradas*/
    line-height: 1.8rem;
    /*defini o espaçamento entre linhas de um texto*/
    justify-content: center;

}

.bike-eventos h3 {
    text-align: center;
    color: var(--font1);
    font-size: 2.8rem;
    padding: 1rem;
    
}

.bike-eventos h3 span{
    color: red;
}

.bit-buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    
}

.btn {
    padding: 0.9rem 3rem;
    background-color: var(--btn);
    color: var(--bg);
    font-size: 1.8rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 1.5rem;


}

.btn:hover{
    letter-spacing: 0.2rem;
    color: var(--color2);
    transition: 0.8s;
    font-weight: bolder;
}

.title-footer{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.title-footer span {
    color: var(--main-color);
    text-transform: uppercase;
}

footer {
    background: var(--bg-card);
    text-align: center;
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 7%; /*adiciona espaçamento interno horizontalusando porcentagem*/
}

.content-1 {
    flex: 1 1 25rem; /*define tamanho flexivel com largura minima de 25rem*/
    margin: 1rem/*adiciona margem ao redor do conteudo*/;
} 

.content-1 ul {
    list-style: none;
    padding: 0;
}

.content-1 ul li {
    margin-bottom: 1rem;/*adiciona espaçamento inferior entre os itens da lista*/
}

.content-1 ul li a{
    color: #ccc;
    text-decoration: none;
    font-size: 1.6rem;
}

.content-1 ul li a:hover {
    color: var(--hover);
    transition: 0.8s;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-links a i {
    color: var(--main-color);
    font-size: 3rem;
}

.social-links a i:hover {
    color: var(--hover);
    transition: 0.8s;
}

.footer-bottom{
    text-align: center; /*centraliza o texto */
    padding: 1rem 0;/*Adiciona espaçamento interno vertical*/
    font-size: 1.6rem;/*Define o tamanho da fonte*/
    border-top: var(--border);/*Adiciona uma borda superior*/
    margin-top: 2rem; /*Adiciona espaço acima do roda pé*/
    color: #ccc;/*define a cor do texto como cinza*/
}

@media (max-width: 834px){
    .nav-links{
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        z-index:999;
    }
}


@media (max-width: 410px) {
    #menu-header {
        display: none;
    }    
}













