@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #d9d9d9;
    --bg: #ffffffdc;
    --bg-card:#00324A;
    --border: 0.1rem solid gray;
    --font1: #41494c;
    --hover:#288e96;
    --btn:#36878e;
   

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    text-transform: capitalize;
    /**/
    transition: 0.2s linear;
    /**/
    outline: none;
    /*faz com que o site não as sombras de borda ao redor do botão*/
    border: none;
    /*retirando todas as bordas*/
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /*Configuração do Font-Size para 62.5%, facilitando o uso do REM (1rem = 10px)*/
    overflow-x: hidden;
    /**/
}


header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%; /*Uso da porcentagem*/
    border-bottom: var(--border);
    position: sticky; /*deixa o header suspenso*/
    top: 0;
    left: 0;
    z-index: 999;
}

.menu-toggle {
  display: none;
  font-size: 3rem;
  color: var(--font1);
  cursor: pointer;
}

.logo img{
    height: 10rem;/*define altura do logo*/

}

.list-menu li {
    display:inline-block;
    gap: 3rem;
}

.list-menu li a {
    color: var(--font1);
    font-size: 2.6rem;
    padding: 1.5rem;
}

.list-menu li:hover {
    color: var(--hover); /*muda a cor do hover*/
    border-bottom: 0.1rem solid var(--hover);/*Adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem;/*adicionja espaçamento inferior no hover*/
}

.submenu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--main-color);
  display: none;
  flex-direction: column;
  min-width: 15rem;
}

.submenu:hover .dropdown {
  display: flex;
}

.dropdown li a {
  padding: 1rem;
  color: var(--font1);
  text-align: left;
  font-size: 1.5rem;
}



.swiper{
    height: 50rem; /*altura da sessão*/
    position: relative; /*posição relativa em relação a viewport (tela)*/
}

/*estilização das caixas (div) que guardam as imagens*/

.swiper-slide{ /*aqui estamos chamando uma das classes*/
    background-size: cover;
    background-position: center;
}

.carousel-text{
    position: absolute; /*posiciona o elemento de forma absoluta dentro do container pai com position: relative*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*Centraliza o elemento exatamente no meio container (corrigi o deslocamento*/
    text-align: center;
    z-index: 10;
    color: #fff;
}

.carousel-text h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.caixa-01 {
    background-image: url(img/1000080615.png);
}

.caixa-02 {
    background-image: url(img/1000080616.png);
}



.row{
    display: flex;
    /*defini layout flexivel para os itens*/
    align-items: center;
    /*alinhamento dos contúodos ao centro*/
    background: var(--bg);
    /*Aplica uma cor de fundo aos elementos*/
    flex-wrap: wrap;
    /*permite que os itens quebrem se necessário*/
    border: var(--border);
    /*Aplica uma borda ao redor da linha se necessário*/
    
}

.row .img-section02{
    flex: 1 1 45rem;
    /*Define o tamanho flexível do elemento: 45rem, podendo crescerou encolher, ou seja,
    faz com que possa ser adptavel para telas grandes e pequenas */
}

.row .img-section02 img {
    width: 100%;
}

.row .text-2{
    flex: 1 1 45rem;
    /*Defini o tamanho flexível do conteúdo: base 45rem, poderá crescer ou diminuir*/
    padding: 2rem;
    /*adiciona espaçamento interno ao redor do conteúdo  */
}

.row .text-2 h3{
    font-size: 3rem;
    color: var(--font1);
}

.row .text-2 p{
    font-size: 1.6rem;
    /*Defini o tamanho da fonte para o paragrafo*/
    color: var(--font1);
    padding: 1rem 0;
    /*adiciona espaçamento interno vertical ao texto e as letras zeradas*/
    line-height: 1.8rem;
    /*defini o espaçamento entre linhas de um texto*/
}















